.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". up up ." "left pad pad right" "left pad pad right" ". down down .";
    position: relative;
    left:50%;
    -webkit-transform: translate(-50%);
    float:left;

  }
  
 .up { 
        grid-area: up; 
        position: absolute;
        bottom: 0;
        width: 20px;

 }
  
 .left { 
        grid-area: left;
        position: absolute;   
        right: 0;
        height:200px;
 }
  
 .pad { 
      grid-area: pad; 
      background-color: green;
      position: relative;
      width:200px;
      height:200px;
 }


  
.right { 
     grid-area: right;  
     height:200px;
}
.down { 
        grid-area: down;
        width: 200px;
}

.up > button {
    width:200px;
}
.down > button {
    width:200px;
}
.left > button {
    height:200px;
}

.right > button {
    height:200px;
}
