.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". up up ." "left pad pad right" "left pad pad right" ". down down .";
    position: relative;
    left:50%;
    -webkit-transform: translate(-50%);
    float:left;

  }
  
 .up { 
        grid-area: up; 
        position: absolute;
        bottom: 0;
        width: 20px;

 }
  
 .left { 
        grid-area: left;
        position: absolute;   
        right: 0;
        height:200px;
 }
  
 .pad { 
      grid-area: pad; 
      background-color: green;
      position: static;
      width:200px;
      height:200px;
      
 }


  
.right { 
     grid-area: right;  
     height:200px;
}
.down { 
        grid-area: down;
        width: 200px;
}

.up > button {
    width:200px;
}
.down > button {
    width:200px;
}
.left > button {
    height:200px;
}

.right > button {
    height:200px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .rightButton {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .leftButton {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .upButton {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .downButton {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
